* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  background-image:url("https://i.ytimg.com/vi/fSZaizXDdO8/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: hidden;
}

.container{
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.card {
  position: relative;
  width: 240px;
  height: 348px;
  margin: 35px;
  perspective: 900px;
}

.card .flip {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .flip {
  transform: rotateY(180deg);
}

.front-card, .back-card {
  position: absolute;
  backface-visibility: hidden;
}

.back-card {
  transform: rotateY(180deg);
}

.front-card img, .back-card img{
  border-radius: 12px;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3)
}